# Database
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/juscash_dje?schema=public"

# JWT
JWT_SECRET=juscash_scraper_mbr586zs_QL08TXcGembdrwHt2groUQi4kaQNif9Q
JWT_EXPIRES_IN="7d"

# Server
PORT=3000
NODE_ENV=development

# API
API_BASE_URL="http://localhost:3000"